<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727" sku="Client"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WizardWrx.AnyCSV"
                                  publicKeyToken="39f6551a21db420a"
                                  culture="neutral" />
				<bindingRedirect  oldVersion="7.0.119.904"
                                  newVersion="7.0.120.30587" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>